<div>
  {{state}}
</div>
<div *ngIf="state === STATE.READING" >
  <video
    id="video"
    #video
    style="border: 1px solid gray"
  ></video>
</div>
<div *ngIf="hasMultipleCameras()">
  <button (click)="onChangeCamera()">переключить камеру</button>
</div>
<!-- <div>
    <button (click)="startEncode()" class="button" id="startButton">Start</button>
    <button (click)="resetEncode()" class="button" id="resetButton">Reset</button>
</div> -->
<label>Result:</label>
<div *ngFor="let res of result" id="result"><code>{{res}}</code>
  <hr>
</div>
<pre *ngFor="let splited of resultSplited">
  <code *ngFor="let str of splited">
    {{str}}
  </code>
  <hr>
</pre>
<hr>
<div *ngFor="let item in resultVariants | keyvalue">
  char set : {{item.key}}
  <pre *ngFor="let splited of item.value">
    <code *ngFor="let str of splited">
      {{str}}
    </code>
    <hr>
  </pre>
</div>
