<div>
  <video
    id="video"
    #video
    style="border: 1px solid gray"
  ></video>
</div>

<select onchange="onChangeSelectDivices">
    <option
    *ngFor="let option of videoInputDevices"
    value="{{option.deviceId}}"
    >{{option.deviceId}}</option>
</select>
<div>
    <button (click)="startEncode()" class="button" id="startButton">Start</button>
    <button (click)="resetEncode()" class="button" id="resetButton">Reset</button>
</div>
<label>Result:</label>
<div *ngFor="let res of encodeResult" id="result"><code>{{res.text}}</code>
  <hr>
</div>
<pre *ngFor="let splited of encodeResultSplited">
  <code *ngFor="let str of splited">
    {{str}}
  </code>
  <hr>
</pre>
